body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;

}

h1 {
    color: blue;
    text-align: center;
    font-weight: bold;
    color: black;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    letter-spacing: 13px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0px;
}

header img{
    width: 17vw;
    padding: 15px 25px 15px;
    
}

.menu a{
    text-decoration: none;
    color: white;
    margin-left: 60px;
    font-size: 30px;
    font-family: 'Anton', sans-serif;

}

aside{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

aside h2, aside p{
    padding: 15px;
    margin: 20px 10px 0px 10px;
    color: red;
    font-family: 'Montserrat', sans-serif;
}

aside h2{
    font-size: 33px;    
}

.texto_jogo {
    font-size: 20px;
    line-height: 30px;
    margin-left: 20px;
    margin-top: 10px;
}

.passo_a_passo{
    font-size: 20px;
    line-height: 30px;
}

.animação {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: 2px solid rgb(2, 2, 2);
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    background-color: black;

}

.game {
    width: 530px;
}

.video_game {
    width: 530px;
}

section h2{
    align-items: center;
    text-align: center;
    font-size: 40px;

}

.rede_social {
    background-color:rgb(5, 5, 5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

.icone {
    width: 55px;
    border-radius: 50%;
}
footer.rodape {
    text-align: center;
    background-color: rgb(216, 16, 16);
    color: white;
    align-items: center;
}


div.rodape>p {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    justify-content: flex-end;
    width: 60%;
    margin-right: 0%;   
}
